<%- include('./utility/header.ejs') %>

  <title>
    <%= title %>
  </title>
  </head>
  
  <body class="position-relative" data-bs-spy="scroll">
    
    <%- include('./utility/navigation.ejs') %>

    <section id="home">
      <div class="container-fluid header-content">
        <div class="row">
          <div class="col">
            <div class="content-box text-center text-light">
              <h1>Meme Central</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./utility/footer.ejs') %>